body {
    margin: 0;
    overflow: hidden;
}

#grid, #canvas {
    position: absolute;
}

#tool-bar {
    position: absolute;
    background: #000;
    cursor: move;
    border: 0.5em solid;
    border-color: gray #504c4c;
    box-shadow: 9px 9px 9px 0 #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 10vw;
    min-width: 10rem;
}

.glass {
    position: absolute;
    width: 2rem;
    height: 2rem;
}

.tool {
    margin: 1rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.use {
    background: #ffffff69;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#palette {
    text-align: center;
    margin: 0.5rem;
    cursor: pointer;
}

#current-color {
    height: 2rem;
    width: 8rem;
}


#current-color, #color-format {
    width: 8rem;
}

#color-format{
    text-align: center;
 }

 #color-selector {
    position: absolute;
    box-shadow: 0px 0px 0px 4px grey, 0px 0px 0px 8px #504c4c, 10px 9px 15px 10px #000;
}


 #paste-bar {
    position: absolute;
    width: 100vw;
    height: 100vh;
 }

 #paste, #paste-close {
    color: #fff;
    background: #000;
    cursor: pointer;
}
    
#paste {
    float: left;
}

#paste-close:hover, #paste:hover {
    opacity: 0.5;
    cursor: pointer;
}

#paste-close {
    float: right;
    color: red;
 }

 #copy-select {
    position: absolute;
    cursor: crosshair;
 }

 #color-grid {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     width: max-content;
 }