body {
    margin: 0;
    overflow: hidden;
}

#GRID, #CANVAS {
    position: absolute;
}

#TOOL_BAR {
    position: absolute;
    background: #000;
    cursor: move;
    border: 0.5em solid;
    border-color: gray #504c4c;
    box-shadow: 9px 9px 9px 0 #000;
}

.tool {
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
    user-select: none;
    border: 1px solid #3c3c3c;
}

.use {
    box-shadow: inset 0 0 0 2px #808080, inset 0 0 0px 4px #000, inset 0 0 0px 6px #504c4c;
}


#CURRENT_COLOR {
    height: 1.5em;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#COLOR_SELECTOR {
    position: absolute;
    border: 0.5em solid;
    border-color: gray #504c4c;
    box-shadow: 9px 9px 9px 0 #000;
}

#COLOR_FORMAT{
    width: 10em;
    text-align: center;
 }

 #PASTE_BAR {
    width: 100vw;
    height: 100vh;
    text-align: center;
 }

 #PASTE {
    color: #fff;
    background: #000;
 }

 #PASTE:hover {
     opacity: 0.5;
     cursor: pointer;
 }

 #COPY_SELECTED {
     position: absolute;
 }