body {
    margin: 0;
    overflow: hidden;
}

#GRID, #CANVAS {
    position: absolute;
}

#TOOL_BAR {
    position: absolute;
    background: #000;
    cursor: move;
    border: 0.5em solid;
    border-color: gray #504c4c;
    box-shadow: 9px 9px 9px 0 #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 12rem;
}

.glass {
    position: absolute;
    width: 2rem;
    height: 2rem;
}

.tool {
    margin: 1rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.use {
    background: #ffffff69;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#PALETTE {
    text-align: center;
    margin: 0.5rem;
    cursor: pointer;
}

#CURRENT_COLOR {
    height: 2rem;
    width: 8rem;
}


#CURRENT_COLOR, #COLOR_FORMAT {
    width: 8rem;
}

#COLOR_FORMAT{
    text-align: center;
 }

 #COLOR_SELECTOR {
    position: absolute;
    box-shadow: 0px 0px 0px 4px grey, 0px 0px 0px 8px #504c4c, 10px 9px 15px 10px #000;
}


 #PASTE_BAR {
    position: absolute;
    width: 100vw;
    height: 100vh;
 }

 #PASTE, #PASTE_CLOSE {
    color: #fff;
    background: #000;
    cursor: pointer;
}
    
#PASTE {
    float: left;
}

#PASTE_CLOSE:hover, #PASTE:hover {
    opacity: 0.5;
    cursor: pointer;
}

#PASTE_CLOSE {
    float: right;
    color: red;
 }

 #COPY_SELECT {
    position: absolute;
    cursor: crosshair;
 }